{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}
Главная
{% endblock %}


{% block content %}
    <div class="row">
    <h2 class="category">Категория</h2>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Планшет Lenovo 7"</h3>
                    <p>
                        Продавец: Иван Иваныч<br>
                        Стаж: 2г. 7 мес.<br>
                        Рейтинг доверия: 97%
                        Товар б/у<br>
                        Причина продажи: Коплю на новый<br></p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Ярлык эскиза</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Ярлык эскиза</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Ярлык эскиза</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Ярлык эскиза</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/300x200.png' %}" alt="...">
                <div class="caption">
                    <h3>Ярлык эскиза</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}